.homeNotificationCard {
    @apply relative border-x-2 border-b-2 border-slate-800;

    h1 {
        background: #777777;
        font-size: 1.2rem;
        color: #ffffff;
        text-align: center;
        @apply py-4;
    }

    .timer {
        @apply flex gap-2;

        .timerUnit {
            @apply border border-neutral-900 flex flex-col items-center gap-2 p-2;
        }
    }


    .productCard {
        @apply flex justify-around gap-4 border-b-2 border-neutral-900 pb-2;

        &:hover>.productDetails {
            h2 {
                @apply text-red-500;
            }
        }

        &:hover h2 {
            @apply text-red-500;
        }

    }

    .sliderButton {
        // position: absolute;
        top: 86%;
        z-index: 1;
        background-color: #de4644;
        color: #fff;
        border: none;
        padding: 10px 10px;
        cursor: pointer;
        box-shadow: -2px 2px 12px -2px rgba(0, 0, 0, 0.3);
        transition: opacity 0.3s ease;
        -webkit-transition: opacity 0.3s ease;
        -moz-transition: opacity 0.3s ease;
        -ms-transition: opacity 0.3s ease;
        -o-transition: opacity 0.3s ease;
    }

    .disabledButton {
        background: transparent;
        border: 1px solid #fff;
        // opacity: 0.5; 
        padding: 9px 10px;
        cursor: not-allowed;
    }

}