.homeNotificationCard{
    @apply relative border-x-2 border-b-2 border-slate-800;
    h1{
        background: #777777;
        font-size: 1.2rem;
        color: #ffffff;
        text-align: center;
        @apply py-4;
    }
}
