.sliderButton {
    position: absolute;
    top: 45%;
    z-index: 1;
    background-color: #fff;
    color: #000;
    border: none;
    padding: 25px 10px;
    cursor: pointer;
    box-shadow: -2px 2px 12px -2px rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s ease;
  }
  
  .disabledButton {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  // Add specific styles for the right and left buttons
  .sliderButton.right {
    right: -1px;
  }
  
  .sliderButton.left {
    left: 0px;
  }
  

  .indicatorsContainer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    position: absolute;
    bottom: 10px;
    width: 100%;
  }
  
  .indicator {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .activeIndicator {
    background-color: #fff; // Make the active indicator more visible
  }
  